@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/assets/fonts/Gilroy-Regular.eot) format('embedded-opentype'),
		url(/assets/fonts/Gilroy-Regular.ttf) format('truetype'),
		url(/assets/fonts/Gilroy-Regular.woff) format('woff'),
		url(/assets/fonts/Gilroy-Regular.woff2) format('woff2');
	}

	html {
		font-family: "Gilroy", sans-serif;
	}

	body {
		@apply text-black bg-slate-100;
	}
}

@layer components {
	.btn {
		@apply h-12 rounded-full font-bold w-72 flex justify-center items-center;
	}

	.primary {
		@apply bg-blue-500 text-white hover:bg-blue-700 transition;
	}

	.small {
		@apply w-20;
	}
}
